
header, main, footer {
    padding-left: 360px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
.side-nav.fixed.responsive-nav{
	width:360px;
}


@media (max-width:320px) { /* smartphones, iPhone, portrait 480x320 phones */ 
        .side-nav.fixed.responsive-nav{
			left:0%;
			width: 175px;
		}
		.orange.lighten-2.responsive-nav {
			height: 64px;
			line-height: 64px;
			width: 145px;
		}
}
@media (min-width:320px) { /* smartphones, iPhone, portrait 480x320 phones */ 
        .side-nav.fixed.responsive-nav{
			left:0%;
			width: 175px;
		}
		.orange.lighten-2.responsive-nav {
			height: 64px;
			line-height: 64px;
			width: 145px;
		}
}
@media (min-width:481px) { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
        .side-nav.fixed.responsive-nav{
			left:0%;
			width: 215px;
		}
		.orange.lighten-2.responsive-nav {
			height: 64px;
			line-height: 64px;
			width: 185px;
		}
}
@media (min-width:641px) { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
        .side-nav.fixed.responsive-nav{
			left:0%;
			width: 260px;
		}
		.orange.lighten-2.responsive-nav {
			height: 64px;
			line-height: 64px;
			width: 230px;
		}
}
@media (min-width:961px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
        .side-nav.fixed.responsive-nav{
			left:0%;
			width: 300px;
		}
		.orange.lighten-2.responsive-nav {
			height: 64px;
			line-height: 64px;
			width: 270px;
		}
}